<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div id="app">
      <!-- v-ifの真偽値によって表示非表示を操る -->
      <p v-if="ok">OK!</p>
      <!-- v-elseをすることでelse文を使用することが可能、ただし直下に書くこと 余計なタグを挟むとelse文は動作しない -->
      <p v-else-if="maybeOk">maybe OK!</p>
      <p v-else>Not OK... </p>
      <button @click="ok = !ok">toggle ok</button>
      <button @click="maybeOk = !maybeOk">toggle maybeOk</button>
      <!-- v-showを用いてもv-ifとほぼ同じ動作を実装可能 -->
      <!-- デメリットはstyleのdisplay:noneを使って非表示にしているので完全に見えない訳ではないこと、またtemplateタグでは使えないことなどがある。 -->
      <!-- 使い分けとしてはv-ifはDOM要素を毎度消して描画してを繰り返すので頻繁に表示非表示を切り替えるものには向かない（重たい表示物ならなおさら） -->
      <!-- v-showの場合、初回レンダリングに必ず描画されるので非表示にする際のコストは低い。逆に初回レンダリングは遅くなるので注意。 -->
      <p v-show="ok">This is show</p>

      <!-- v-forディレクティブ、ReactでいうMap -->
      <ul>
        <li v-for="fruit in fruits">{{fruit}}</li>
      </ul>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
